<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>React Comments Example GABE 6</title>
    <link rel="stylesheet" href="../resources/css/base.css" th:href="@{/resources/css/base.css}" />
    <!-- [if IE]>
    <script src="../resources/build/ie.js" th:src="@{/resources/build/ie.js}"></script>
    <![endif] -->
</head>
<body>
    <div id="container"></div>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="../resources/build/showdown.js" th:src="@{/resources/build/showdown.js}"></script>
    <script src="../resources/build/react.js" th:src="@{/resources/build/react.js}"></script>
    <script src="../resources/build/JSXTransformer.js" th:src="@{/resources/build/JSXTransformer.js}"></script>
    <script type="text/jsx" src="../resources/js/app.js" th:src="@{/resources/js/app.js}"></script>
</body>
</html>